* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow:hidden;
}

body .sidebar {
  position: relative;
  width: 20%;
  background: #f9cabc;
  height: 100%;
  border-right: 3px solid #fff;
}

body .sidebar .logo {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  overflow: hidden;
}

body .sidebar .logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .sidebar nav {
  margin-top: 228.5px;
}

body .sidebar nav ul {
  position: relative;
  width: 100%;
}

body .sidebar nav ul li {
  padding: 25px 15px;
  text-align: center;
  list-style: none;
  -webkit-transition: .25s;
  transition: .25s;
}

body .sidebar nav ul li:hover {
  background: #fff;
}

body .sidebar nav ul li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

body .dash {
  position: relative;
  width: 80%;
}

body .dash .up {
  position: relative;
  width: 100%;
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

body .dash .up .stats {
  background: #f9cabc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .dash .up .stats:nth-child(2) {
  background: #fad6cb;
}

body .dash .up .stats:nth-child(3) {
  background: #f6eded;
}

body .dash .up .stats:nth-child(4) {
  background: #f7f5f5;
}

body .dash .up .stats a {
  text-decoration: none;
  color: #000;
}

body .dash .up .stats a .box {
  position: relative;
  height: 100%;
  width: 100%;
}

body .dash .up .stats a .box .number {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 2em;
}

body .dash .up .stats a .box .description {
  position: absolute;
  bottom: 10%;
  right: 15%;
  font-size: 1em;
}

body .dash .down {
  height: 70vh;
  width: 100%;
  background: url("dash.png");
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

body .dash h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 100px 0;
  font-weight: 500;
}

body .dash .userContent {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

body .dash .userContent .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dash .userContent .form-content input, body .dash .userContent .form-content select, body .dash .userContent .form-content textarea {
  width: 250px;
  height: 40px;
  padding: 5px 10px;
  font-size: 1em;
  margin: 25px 15px;
  border: none;
  border-bottom: 2px solid #f7a187;
  outline: none;
}

body .dash .userContent button {
  position: relative;
  width: 250px;
  height: 40px;
  padding: 5px 10px;
  font-size: 1em;
  margin: 25px 15px;
  border-radius: 25px;
  background: none;
  cursor: pointer;
}
/*# sourceMappingURL=dashboard.css.map */