/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar a.icon:hover {
    background-color: transparent;
    color: #DF6B48;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service--bordered{
    box-shadow: 5px 5px 3px rgba(51, 51, 51, 0.2);
}