/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar a.icon:hover {
    background-color: transparent;
    color: #DF6B48;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service--bordered{
    box-shadow: 5px 5px 3px rgba(51, 51, 51, 0.2);
}

/*--------------------------------------------------------------

#Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item .container {
	box-shadow: 0px 2px 12px rgba(41, 31, 52, 0.9)(0, 0, 0, 0.08)!important;
}

/*--------------------------------------------------------------
#About
---------------------------------------------------------------*/
.devise{
	color:gold;
}

/*--------------------------------------------------------------
# Détails
--------------------------------------------------------------*/
.btn-standard{
    background-color: #DF6B48;
    color: white;
    display: inline-block;
    width: 15vw;
    height: 5vh;
    text-align: center;
    padding: 0.35vw;
}
.btn-standard:hover{
    background-color: #413152;
    color: white;
}
.btn-standard:active, .btn-standard:focus, .btn-standard--clicked{
    background-color: #413152;
    color: white;
    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.5);
}
.btn--rounded{
    border-radius: 2vw;
}
.row.vertical{
    flex-direction: column;
}

/* LOGIN PAGE */

.login-section{
	background: #413152;
}

.login-container {
	height: 80vh;
	display: flex;
	justify-content: space-around;
	background-color: #DF6B48;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 10%;
    margin-top: 50px;
}

.login-container .left{
	/* position: relative; */
	background-color: #55df48;
	height: 80%;
}
.login-container .left p{
	text-align: left;
	color: #fff;
}
.login-container .left h3{
	color: #fff !important;
}
.login-container .right{
	/* position: relative; */
	background-color: #4870df;
	height: 80%;
}
.login-container .right .Box{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 500px;
	width: 400px;
	background: #fff;
	padding: 10% 20%;
	overflow: hidden;
	z-index: 1;
}
.login-container .right .Box input:nth-child(1){
	margin-top: 30%;
}
.login-container .right .Box input,.login-container .right .account input{
	position: relative;
	margin: 15px;
	border: none;
	border-bottom: 2px solid #413152;
	padding: 10px;
	background: transparent;
	width: 100%;
	outline: none;
}
.login-container .right .account input,.login-container .right .account span{
	font-size: 13px;
}
.login-container .right .Box input,.login-container .right .account input[type="checkbox"]{
	width: 10%;
}

.login-container .right .Box button,.Box input,.login-container .right .account button{
	margin-top: 15px;
	background: transparent;
	border: 2px solid #413152;
	border-radius: 25px;
	font-size: 1em;
	padding: 10px 15px;
	cursor: pointer;
	outline: none;
}
.login-container .right .Box:before,.login-container .right .account::before{
	content: "";
	position: absolute;
	top:-10%;
	left: 50%;
	height: 100%;
	width: 100%;
	background-color: rgb(19, 173, 244);
    transform: skewY(15%);
	border-radius: 70%;
	transform: rotate(60deg);
	z-index: -1;

}
.login-container .right .Box::after,.login-container .right .account::after{
	content: "";
	position: absolute;
	top:-20%;
	left: 40%;
	height: 120%;
	width: 120%;
	background-color: rgb(72, 248, 160);
	border-radius: 70%;
	transform: rotate(60deg);
	z-index: -2;

}
.login-container .right .account{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 500px;
	width: 600px;
	background: #fff;
	padding: 10% 20%;
	overflow: hidden;
	z-index: 1;
}
.login-container .right .account .inf{
	display: flex;
	justify-content: space-evenly;
}
.login-container .right .account input,.login-container .right .newsL{
	display: flex;
	justify-content: left;
	line-height: 40px;
}

li a.on{
    color: #DF6B48;
}
a.small{
    font-size: 12px;
}







/* END LOGIN */


/* CART */

.cartPage{
	position: relative;
	margin-top: 100px;
	min-height: 70vh;
}
.cartPage h4{
	 color: #413152;
	 text-align: center;
	 padding: 10px;
}

.cartPage .pay{
position: absolute;
bottom: 5%;
right: 5%;
}
.cartPage .pay h4,.cartPage .pay h5{
	text-align: center;
}
.cartPage .pay button{
	border: none;
	background: #DF6B48;
	color: #fff;
	border-radius: 25px;
	text-align: center;
	padding: 10px;
	font-size: 1em;
}

/* END CART */