<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <th:block th:replace="fragments/_navbar.html::navbar"></th:block>
    </header>

<!-- End Header -->
        <div class="login-container">
           <div class="row">
                <div class="left col-lg-4 col-md-6">
                    <h3>Créer un compte </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rerum officia voluptatibus reprehenderit consequuntur repellat ad, consectetur expedita doloremque iste porro accusamus odio facilis mollitia, ipsam nisi quas esse aperiam.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rerum officia voluptatibus reprehenderit consequuntur repellat ad, consectetur expedita doloremque iste porro accusamus odio facilis mollitia, ipsam nisi quas esse aperiam.
                    </p>
                </div>
    
                <div class="right col-lg-4 col-md-6">
                    <div class="account">
                        <div class="inf">
                            <input type="text" placeholder="*Nom">
                            <input type="text" placeholder="*prenom">
                        </div>

                        <div class="inf">
                            <input type="email" placeholder="*E-mail">
                        </div>


                        <div class="inf">
                            <input type="password" placeholder="*Mot de passe">
                            <input type="password" placeholder="*confirmez le mot de passe">
                        </div>
                            <div class="newsL">
                                <input type="checkbox" name="" id=""><span>Recevoir les news letters</span>
                            </div>
                        <button type="submit">valider</button>
                    </div>
                </div>
           </div>
        </div>



         <!-- ======= Footer ======= -->
<th:block th:replace="fragments/_footer.html::footer"></th:block>



<th:block th:replace="fragments/_js.html::js"></th:block>
    
</body>
</html>