<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beaps-Dashboard</title>
    <link rel="stylesheet" th:href="@{/assets/css/dashboard.css}">
</head>
<body>
<div class="sidebar">

    <div class="logo">
        <img th:src="@{/assets/img/logo.png}" alt="">
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/admin/dashboard}">Utilisateurs</a></li>
            <li><a th:href="@{/admin/dashboard/user}">Produits</a></li>
            <li><a th:href="@{/admin/dashboard/product}">Livraisons</a></li>
        </ul>
    </nav>
</div>

    <div class="dash">
        <h2>Enregistrement d'un utilisateur</h2>
        <div class="userContent">
            <form action="">
                <div class="form-content">
                    <input type="text" name="userName" placeholder="Nom">
                    <input type="text" name="userSurname"  placeholder="Prenom">

                </div>
                <div class="form-content">
                    <input type="text" name="userPhone"  placeholder="Téléphone">
                    <select name="userType">
                        <option value="Customer">Customer</option>
                        <option value="Administrator">Administrator</option>
                        <option value="DeliveryMan">DeliveryMan</option>

                    </select>
                </div>
                <div class="form-content">
                    <input type="email" name="userEmail" placeholder="Email">
                    <input type="password" name="uerPassword" placeholder="Mot de passe">
                </div>
                
            </form>
            <button type="submit">Enregistrer</button>

        </div>
    </div>

</body>
</html>