<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <th:block th:replace="fragments/_navbar.html::navbar"></th:block>
    </header>

<!-- End Header -->


<div class="container cartPage">
    <h4>Votre chariot est prêt à passer à la caisse !</h4>

    <hr>
    <form action="">
        <table class="table">
            <h6>Ma liste : nom de la liste</h6>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>produit 2</td>
                    <td>01</td>
                    <td>2000 fcfa</td>
                    <td>3000 fcfa</td>
                </tr>
        </table>
            <div class="pay">
                <h4>Prix total</h4>
                <h5>XXX fcfa</h5>
                <button>Effectuer le paiement</button>
            </div>
    </form>

</div>




<th:block th:replace="fragments/_footer.html::footer"></th:block>



<th:block th:replace="fragments/_js.html::js"></th:block>
    
</body>
</html>