<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <th:block th:replace="fragments/_navbar.html::navbar"></th:block>
    </header>

<!-- End Header -->


<div class="container cartPage">
    <h4>Votre chariot est prêt à passer à la caisse !</h4>

    <hr>
    <form action="" th:each="shoppingListDto : ${shoppingListDtos}">
        <table class="table">
            <h6 th:text="'Ma liste : ' + ${shoppingListDto.reference}">Ma liste : reference</h6>
                <tr th:each="productDto : ${shoppingList.productDtos}">
                    <td><input type="checkbox"></td>
                    <td th:text="'Produit ' + ${productDtoStat.count}">produit 2</td>
                    <td th:text="${productDto.quantityList}">01</td>
                    <td th:text="${productDto.unitprice} + ' Fcfa'">2000 fcfa</td>
                    <td th:text="${productDto.unitprice * productDto.quantityList} + ' Fcfa'">3000 fcfa</td>
                </tr>
        </table>
            <div class="pay">
                <h4>Prix total</h4>
                <h5>XXX fcfa</h5>
                <button>Effectuer le paiement</button>
            </div>
    </form>

</div>




<th:block th:replace="fragments/_footer.html::footer"></th:block>



<th:block th:replace="fragments/_js.html::js"></th:block>
    
</body>
</html>