<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <th:block th:replace="fragments/_navbar.html::navbar"></th:block>
    </header><!-- End Header -->

    <section id="login" class="login-section">
      <div class="login-container">
        <div class="left col-lg-4 col-md-6">
          <h3>Se connecter </h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rerum officia voluptatibus reprehenderit consequuntur repellat ad, consectetur expedita doloremque iste porro accusamus odio facilis mollitia, ipsam nisi quas esse aperiam.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rerum officia voluptatibus reprehenderit consequuntur repellat ad, consectetur expedita doloremque iste porro accusamus odio facilis mollitia, ipsam nisi quas esse aperiam.
          </p>
      </div>

      <div class="right col-lg-4 col-md-6">
          <div class="Box">
              <input type="text" placeholder="Nom d'utilisateur">
              <input type="password" placeholder="Mot de passe">
              <button type="submit">Se connecter</button>
              <a th:href="@{/account}" class="small">Vous ne disposez pas encore d'un compte?</a>
          </div>
      </div>
     </div>
    </section>

    <!-- ======= Footer ======= -->
<th:block th:replace="fragments/_footer.html::footer"></th:block>



<th:block th:replace="fragments/_js.html::js"></th:block>
</body>
</html>